# —— Seguridad ——
SECRET_KEY=genera-una-con-python-c-"from django.core.utils.crypto import get_random_string; print(get_random_string(50))"
DEBUG=False
ALLOWED_HOSTS=tudominio.com,www.tudominio.com
CSRF_TRUSTED_ORIGINS=https://tudominio.com,https://www.tudominio.com

# —— Base de datos ——
DB_ENGINE=django.db.backends.postgresql
DB_NAME=jornadas
DB_USER=usuario
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

# —— Email ——
EMAIL_HOST_USER=tu_usuario@dominio.com
EMAIL_HOST_PASSWORD=tu-password-real
