SECRET_KEY=genera-una-con-python-c-"from django.core.utils.crypto import get_random_string; print(get_random_string(50))"
DEBUG=False
ALLOWED_HOSTS=tudominio.com,www.tudominio.com
EMAIL_HOST_USER=tu_usuario@dominio.com
EMAIL_HOST_PASSWORD=tu-password-real
ADMIN_PIN=pin-seguro
SCANNER_PIN=otro-pin